<div class="row">
  <div class="col-xs-12">
    <h1 style="text-align: center;">Add new Servers or blueprints!</h1>
    <hr />
    <label>Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName" />
    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" />
    <br />
    <div class="center">
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button>
      <button class="btn btn-primary" (click)="onAddBlueprint()">
        Add Server Blueprint
      </button>
    </div>
  </div>
</div>
