<div class="container">
  <!-- Data output from app-cockpit and pusing new element into the array -->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bluePrintCreated)="onBlueprintAdded($event)"
    (reset)="reset()"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change First Element
      </button>
      <!-- Inputing data into app-server-element -->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
        [name]="serverElement.name"
      >
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p></app-server-element
      >
    </div>
  </div>
</div>
